AddDefaultCharset utf-8
Options -Indexes
# dnwr_ip 192.168.1.2
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{QUERY_STRING} ^[^/]+$
RewriteRule ^archive([a-z0-9/\._-]+)$ index.php?page=archive&url=$1 [L,NC,QSA]
RewriteRule ^([a-z0-9_-]+)[/]?$ index.php?page=$1 [L,NC,QSA]