.style0{
		fill:	#444444;
	}
	.style1{
		fill:	#484848;
	}
	.style10{
		stroke-miterlimit:	10;
		stroke:	#414042;
		stroke-dasharray:	10.0711;
		fill:	none;
	}
	.style11{
		fill:	none;
	}
	.style12{
		font-size:	14;
		font-family:	'RobotoCondensed-Light';
		fill:	#444444;
	}
	.style13{
		font-size:	12;
		font-family:	'RobotoCondensed-Light';
		fill:	#444444;
	}
	.style2{
		stroke:	#58595B;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style3{
		stroke-miterlimit:	10;
		stroke:	#58595B;
		stroke-dasharray:	9.7201;
		fill:	none;
	}
	.style4{
		stroke-miterlimit:	10;
		stroke:	#58595B;
		stroke-dasharray:	9.2422;
		fill:	none;
	}
	.style5{
		stroke-miterlimit:	10;
		stroke:	#58595B;
		stroke-dasharray:	9.2228;
		fill:	none;
	}
	.style6{
		stroke-miterlimit:	10;
		stroke:	#58595B;
		stroke-dasharray:	8.8598;
		fill:	none;
	}
	.style7{
		fill:	#414042;
	}
	.style8{
		stroke:	#414042;
		stroke-miterlimit:	10;
		fill:	none;
	}
	.style9{
		stroke-miterlimit:	10;
		stroke:	#414042;
		stroke-dasharray:	9.0435;
		fill:	none;
	}